<%- include("../partials/company-header") -%>

<%- include('subheader') -%>

<div class='container'>

    <div class='row d-flex justify-content-around my-3'>
        <%- include("container-1") -%>
        <%- include("container-1") -%>
        <%- include("container-1") -%>
    </div>

    <div class='row d-flex justify-content-around my-3'>
        <%- include("container-1") -%>
        <%- include("container-1") -%>
        <%- include("container-1") -%>
    </div>
    
    <div class='row d-flex justify-content-around my-3'>
        <%- include("container-1") -%>
        <%- include("container-1") -%>
        <%- include("container-1") -%>
    </div>

    <div class='row d-flex justify-content-around my-3'>
        <%- include("container-1") -%>
        <%- include("container-1") -%>
        <%- include("container-1") -%>
    </div>

</div>

<%- include("../partials/footer") -%>