<%- include("../partials/header", {user: user}) -%>

<div class="row">
    <h1>Container Settings</h1>
</div>
<form>
    <div class="form-group row">
        <label for="dateAdded" class="col-sm-2 col-form-label">Date Added</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="dateAdded" value="<%-container.dateAdded%>">
        </div>

        <label for="dateLastAccessed" class="col-sm-2 col-form-label">Last Accessed</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="dateLastAccessed" value="<%-container.dateLastAccessed%>">
        </div>

        <label for="departureCountry" class="col-sm-2 col-form-label">Departure Country</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="departureCountry" value="<%-container.departureCountry%>">
        </div>

        <label for="targetCountry" class="col-sm-2 col-form-label">Target Country</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="targetCountry" value="<%-container.targetCountry%>">
        </div>
    </div>

    <div class="form-group row">
        <h5 class="col-sm-12"><strong>Local Account</strong></h5>
        <% if (container['localAccess'] != null){%>
            <label for="localAccountEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="localAccountEmail" value="<%-container.localAccess.local.email%>">
            </div>
        <% } else {%>
            <p class="col-sm-12"><i>No local account</i></p>
        <% }%>
    </div>

    <div class="form-group row">
        <h5 class="col-sm-12"><strong>Overseas Account</strong></h5>
        <% if (container['overseasAccess'] != null){%>
        <label for="localAccountEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="localAccountEmail" value="<%-container.overseasAccess.local.email%>">
        </div>
        <% } else {%>
            <p class="col-sm-12"><i>No overseas account</i></p>
        <% }%>
    </div>
</form>


<%- include("../partials/footer") -%>