<a class='link container-link' href= '<%-contentItem.link%>'>
    <div class="card container-1 bg-light container-text">
        <div class="card-header"><%=contentItem.name%><a class="link float-right" href="<%-contentItem.link%>/settings"><i class="fas fa-cog"></i></div>
        <a class='link container-link' href= '<%-contentItem.link%>' style="cursor:pointer;">
            <div class="card-body">
                <h6 class="card-subtitle text-muted">Container Number: <%= contentItem.containerNo%></h6><br>
                <h6 class="card-subtitle text-muted">Date added: <%= contentItem.subtitle%></h6>
            </div>
        </a>
    </div>
</a>
