<tr>
  <th scope="row"><%-contentItem.batchNo%></th>
  <td><%-contentItem.count%></td>
  <td>
    <%-contentItem.status%>
  </td>
  <td><%-contentItem.area%></td>
  <td><%-`${contentItem.sender.firstName} ${contentItem.sender.lastName}`%></td>
  <td><%-`${contentItem.receiver.firstName} ${contentItem.receiver.lastName}`%></td>
  <td><button type="button" class="btn btn-primary" onclick="test()">Update</button></td>

</tr>
