<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="shortcut icon" href="/images/icon.png"/>
    <title>Barko</title>

    <%- include("../partials/style-declarations") %>
</head>
<body>
<div class="s-layout">
    <!-- Sidebar -->
    <%- include("../partials/sidebar", {user: user})%>

    <!-- Content -->
    <main class="s-layout__content">
        <div class="container">
            <div class="row">
                <h1>Upload Successful!</h1>
            </div>

            <table class="table table-sm">
                <tbody>
                    <tr>
                        <th scope="row">Container Number</th>
                        <td><%=summary.containerNo%></td>
                    </tr>
                    <tr>
                        <th scope="row">Containers added</th>
                        <td><%=summary.containersAdded%></td>
                    </tr>
                    <tr>
                        <th scope="row">Senders added</th>
                        <td><%=summary.sendersAdded%></td>
                    </tr>
                    <tr>
                        <th scope="row">Receivers added</th>
                        <td><%=summary.receiversAdded%></td>
                    </tr>
                    <tr>
                        <th scope="row">Empty Sheets</th>
                        <td><%=summary.emptySheets%></td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <a class="btn btn-primary mr-3" href="/recent">Check my file</a>
                <% if (user.role != "overseas") {%>
                    <a class="btn btn-primary mr-3" href="/overview">Go to overview</a>
                <% } %>
                <a class="btn btn-primary" href="/upload">Upload another</a>
            </div>
        </div>

<%- include("../partials/footer")%>