<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link rel="shortcut icon" href="images/icon.png"/>
        <title>Tracking</title>

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- Sidebar CSS -->
        <link rel="stylesheet" type="text/css" href="css/sidebar.css">
        <!--Custom CSS-->
        <link rel="stylesheet" href="css/styles.css"></link>

        <!--jQuery-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.0.js"></script>

        <!--Datatables-->
        <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css"/>
        <script type="text/javascript" src="/DataTables/datatables.min.js"></script>
    </head>
<body>
    <div class="s-layout">
        <!-- Sidebar -->
        <div class="s-layout__sidebar">
          <a class="s-sidebar__trigger" href="#0">
             <i class="fa fa-bars" style="color: #f4f5f6;"></i>
          </a>

          <nav class="s-sidebar__nav">
             <ul>
                <li><a href="/">
                    <h4 style="color: #000000; margin: 5% 0 10% 20%;"><img src="images/icon.png" height="30px" style="margin-top: -2%"><strong> Comms</strong></a></h4>
                </li>
                <!-- display side bar links only if user is logged in -->
                 <% if(loggedin) { %> 
                    <li><a class="s-sidebar__nav-link" href="/upload">
                         <em><strong>Recent Manifest</strong></em></a>
                    </li>
                    <li><a class="s-sidebar__nav-link" href="/overview">
                         <em><strong>Countries</strong></em></a>
                    </li>
                    <li><a class="s-sidebar__nav-link" href="/tracking">
                          <em><strong>Tracking</strong></em></a>
                    </li>
                    <li><a class="s-sidebar__nav-link" href="/logout">
                          <em><strong>Logout</strong></em></a>
                    </li>
                <% } %>
             </ul>
          </nav>
        </div>

        <!-- Content -->
        <main class="s-layout__content">
            <div class="container">
                <div>
                    <div class="row">
                        <div style="width: 360px;">
                            <form action="/tracking"  method="post">
                            <h3>Parcel Tracking</h3>
                            <input type="text" class="form-control mb-3" name="trackingNumber" placeholder="Enter your tracking number" style="font-size: 12px;" required>
                            <button type="submit" class="btn btn-block my-3 btn-sm" style="background-color: #2039bc; color: #FFFFFF">
                                Track parcel
                            </button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <p style="color:grey width: 400px; font-size: 12px">For multiple tracking numbers, separate with comma or a new line</p>
                    </div>
                </div>
                <div><br /></div>
                <div class="row">
                <h4>Tracking: <%=trackingNum%>:</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 160px">Tracking Number</th>
                                <th style="width: 150px">Sender</th>
                                <th style="width: 150px">Receiver</th>
                                <th class="status-col">Status</th>
                                <th>ETA</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for (let item in trackingTable) { %>
                                <% if (trackingTable[item] == "") { %>
                                    <tr style="color: red;">
                                        <td>No status given for "<%= item %>".</td>
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        <td>N/A</td>
                                    </tr>
                                <% } else if (trackingTable[item] == "No results returned"){%>
                                    <tr style="color: red;">
                                        <td>No results returned for "<%= item %>"</td>
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        <td>N/A</td>
                                        <td>N/A</td>
                                    </tr>
                                <% } else { %>
                                    <tr>
                                        <td><%= item %></td>
                                        <td><%= trackingSender[item] %></td>
                                        <td><%= trackingReceiver[item] %></td>
                                        <td class="status-item-col" >
                                        <% if (trackingTable[item] == "NZ Port") {  %>

                                            <ul class="progressbar">
                                                <li class="active">NZ Port</li>
                                                <li>On Ship</li>
                                                <li>PH Port</li>
                                                <li>Customs</li>
                                                <li>Delivery</li>
                                                <li>Arrived</li>
                                            </ul>

                                        <% } else if (trackingTable[item] == "On Ship") { %>

                                            <ul class="progressbar">
                                                <li class="passive">NZ Port</li>
                                                <li class="active">On Ship</li>
                                                <li>PH Port</li>
                                                <li>Customs</li>
                                                <li>Delivery</li>
                                                <li>Arrived</li>
                                            </ul>

                                        <% } else if (trackingTable[item] == "PH Port") { %>

                                            <ul class="progressbar">
                                                <li class="passive">NZ Port</li>
                                                <li class="passive">On Ship</li>
                                                <li class="active">PH Port</li>
                                                <li>Customs</li>
                                                <li>Delivery</li>
                                                <li>Arrived</li>
                                            </ul>

                                        <% } else if (trackingTable[item] == "Customs") { %>

                                            <ul class="progressbar">
                                                <li class="passive">NZ Port</li>
                                                <li class="passive">On Ship</li>
                                                <li class="passive">PH Port</li>
                                                <li class="active">Customs</li>
                                                <li>Delivery</li>
                                                <li>Arrived</li>
                                            </ul>

                                        <% } else if (trackingTable[item] == "Delivery") { %>

                                            <ul class="progressbar">
                                                <li class="passive">NZ Port</li>
                                                <li class="passive">On Ship</li>
                                                <li class="passive">PH Port</li>
                                                <li class="passive">Customs</li>
                                                <li class="active">Delivery</li>
                                                <li>Arrived</li>
                                            </ul>

                                        <% } else if (trackingTable[item] == "Arrived") { %>

                                            <ul class="progressbar">
                                                <li class="passive">NZ Port</li>
                                                <li class="passive">On Ship</li>
                                                <li class="passive">PH Port</li>
                                                <li class="passive">Customs</li>
                                                <li class="passive">Delivery</li>
                                                <li class="active">Arrived</li>
                                            </ul>

                                        <% } %>
                                        </td>
                                        <td>30-45 days</td>
                                        <!-- <td><%= trackingTable[item] %></td> -->
                                    </tr>
                                <% }%>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

<%- include("../partials/footer") -%>
