<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link rel="shortcut icon" href="images/icon.png"/>
        <title>Tracking</title>

        <%- include("../partials/style-declarations")%>

        <!-- Input Tag CSS -->
        <link rel="stylesheet" href="css/bootstrap-tagsinput.css">

    </head>
<body>
    <div class="s-layout">
        <!-- Sidebar -->
        <%- include("../partials/sidebar", {user: user})%>

        <!-- Content -->
        <main class="s-layout__content">
            <div class="container">
                <div>
                    <div class="row">
                        <div class="tracking-form-container">
                                <h3>Parcel Tracking</h3>
                                <div class="form-horizontal" style="margin-bottom: -20px;">
                                    <div class="row">
                                        <form id="tracking-form" action="/tracking"  method="post" style="margin-top: 15px">
                                            <input 
                                                id="tracking-input-tag" 
                                                type="text" 
                                                name="trackingNumber" 
                                                value="" 
                                                data-role="tagsinput" 
                                                placeholder="Enter tracking number"
                                                required />
                                            <p style="color:grey; width: 400px; font-size: 12px; margin: 0 0 0 20px;">
                                                For multiple tracking numbers, press enter.
                                            </p>
                                            <input id="surname-field" class="form-control" type="text" name="surname" placeholder="Enter Surname" required>
                                        </form>
                                        <!-- Button placed ouside of form so that form doesnt auto submit when enter is pressed, to allow input tag to work -->
                                        <button type="submit" class="btn btn-block my-3 btn-sm track-btn text-white" onclick="track();">
                                            Track parcel
                                        </button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                <div><br /></div>
                <div class="row">
                    <h5>Tracking: </h5>
                 <%  
                    let isValid = false;
                    let validTrackingNum = [];
                    let invalidTrackingNum = [];

                    for (let item in trackingTable) {
                        if (trackingTable[item] == "") { 

                            invalidTrackingNum.push(item); %>

                            <div style="margin: 0 0 10px 10px">
                                <span class="badge badge-pill error-msg" style="background-color: #cf5564; color: #FFFFFF; font-size: 16px;">
                                    <%- item %><i class="fas fa-times" style="padding-left: 5px"></i>
                                </span>
                            </div>

                        <%
                        } else if (trackingTable[item] == "No results returned") {

                            invalidTrackingNum.push(item); %>

                            <div style="margin: 0 0 10px 10px">
                                <span class="badge badge-pill error-msg" style="background-color: #cf5564; color: #FFFFFF; font-size: 16px;">
                                    <%- item %><i class="fas fa-times" style="padding-left: 5px"></i>
                                </span>
                            </div>
                        <%
                        } else {

                            validTrackingNum.push(item);
                            isValid = true; %>

                            <div style="margin: 0 0 10px 10px">
                                <span class="badge badge-pill error-msg" style="background-color: #C4C4C4; color: #FFFFFF; font-size: 16px">
                                    <%- item %><i class="fas fa-check" style="padding-left: 5px"></i>
                                </span>
                            </div>
                    <%  }
                    } 

                    if(isValid) { %>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 160px">Tracking Number</th>
                                    <th style="width: 150px">Sender</th>
                                    <th style="width: 150px">Receiver</th>
                                    <th class="status-col" colspan="2">Status</th>
                                    <th colspan="2">ETA</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% for (let item in trackingTable) { %>
                                    <% if (trackingTable[item] == "") { %>
                                        <tr style="color: #cf5564;">
                                            <td colspan="2">! <%= item %></td>
                                            <td colspan="4">Invalid Tracking Number. Please type in a valid number.</td>
                                            <td><span class="close">&times;</span></td>
                                        </tr>
                                    <% } else if (trackingTable[item] == "No results returned") { %>
                                        <tr style="color: #cf5564;">
                                            <td colspan="2">! <%= item %></td>
                                            <td colspan="4">Invalid Tracking Number. Please type in a valid number.</td>
                                            <td><span class="close">&times;</span></td>
                                        </tr>
                                    <% } else { %>
                                        <tr>
                                            <td><%= item %></td>
                                            <td><!-- <%= trackingSender[item] %> --></td>
                                            <td><!-- <%= trackingReceiver[item] %> --></td>
                                            <td class="status-item-col" colspan="2">
                                            <% if (trackingTable[item] == "At Departing Port") {  %>

                                                <ul class="progressbar">
                                                    <li class="active">NZ Port</li>
                                                    <li>On Transit</li>
                                                    <li>Arrived Port</li>
                                                    <li>Customs</li>
                                                    <li>For Dispatch</li>
                                                    <li>For Delivery</li>
                                                </ul>

                                            <% } else if (trackingTable[item] == "On Transit") { %>

                                                <ul class="progressbar">
                                                    <li class="passive">NZ Port</li>
                                                    <li class="active">On Transit</li>
                                                    <li>Arrived Port</li>
                                                    <li>Customs</li>
                                                    <li>For Dispatch</li>
                                                    <li>For Delivery</li>
                                                </ul>

                                            <% } else if (trackingTable[item] == "Arrived Port") { %>

                                                <ul class="progressbar">
                                                    <li class="passive">NZ Port</li>
                                                    <li class="passive">On Transit</li>
                                                    <li class="active">Arrived Port</li>
                                                    <li>Customs</li>
                                                    <li>Delivery</li>
                                                    <li>For Delivery</li>
                                                </ul>

                                            <% } else if (trackingTable[item] == "Customs") { %>

                                                <ul class="progressbar">
                                                    <li class="passive">NZ Port</li>
                                                    <li class="passive">On Transit</li>
                                                    <li class="passive">Arrived Port</li>
                                                    <li class="active">Customs</li>
                                                    <li>For Dispatch</li>
                                                    <li>For Delivery</li>
                                                </ul>

                                            <% } else if (trackingTable[item] == "For Dispatch") { %>

                                                <ul class="progressbar">
                                                    <li class="passive">NZ Port</li>
                                                    <li class="passive">On Transit</li>
                                                    <li class="passive">Arrived Port</li>
                                                    <li class="passive">Customs</li>
                                                    <li class="active">For Dispatch</li>
                                                    <li>For Delivery</li>
                                                </ul>

                                            <% } else if (trackingTable[item] == "For Delivery") { %>

                                                <ul class="progressbar">
                                                    <li class="passive">NZ Port</li>
                                                    <li class="passive">On Transit</li>
                                                    <li class="passive">Arrived Port</li>
                                                    <li class="passive">Customs</li>
                                                    <li class="passive">For Dispatch</li>
                                                    <li class="active">For Delivery</li>
                                                </ul>

                                            <% } else if (trackingTable[item] == "Delivered") { %>
                                                Delivered
                                            <% } %>
                                            </td>
                                            <td>30-45 days</td>
                                            <td><span class="close">&times;</span></td>
                                        </tr>
                                    <% }%>
                                <% } %>
                            </tbody>
                        </table>
                <%  } %>
                </div>
            </div>

            <!-- End of container -->
        </main>
    </div>

</body> 
</html>
<script type="text/javascript">

// onclick submit function for track button
function track() {

    // get form values
    var trackingNum = $('#tracking-input-tag').val();
    var surname = $('#surname-field').val();

    // validate fields are not null
    if($.trim(trackingNum).length > 0 && $.trim(surname).length > 0) {
        $('#tracking-form').submit();
    } else {
        alert("Please enter both tracking number and surname.");
    }
    
}


// script for closing items in the table
var closebtns = document.getElementsByClassName("close");
var i;

for (i = 0; i < closebtns.length; i++) {
  closebtns[i].addEventListener("click", function() {
    this.parentElement.parentElement.style.display = 'none';
  });
}



</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script  src="js/bootstrap-tagsinput.js"></script>
